/* Main body section */

body {
    background-color: rgb(243, 243, 243);
    font-family: 'Roboto', 'Arial';    
    margin: 0;
    color: rgb(59, 59, 59);
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header Section */

.header {
    display: flex;
    background-color:rgb(255, 243, 133);
    justify-content: space-between;
    align-items: center;
    padding: 1% 14%;
    
}

#header-links ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

/* Hero Section/Div 1 */

.first {
    background-color:rgb(255, 243, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 0px 100px;
}

/* Items on the left of Div 1 */

#firstText {
    height: 250px;
    width: 500px;
    margin-right: 15px;
}

#firstText h2 {
    font-size: 200%;
}

#firstText p {
    padding: 18px 0px 24px;
    line-height: 1.4;
}

#firstText button {
    padding: 6px;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 243, 133);
    border-radius: 12px;
}

/* Div 1 Image */

#firstImage {
    margin-left: 15px;
    border: 2px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    border-radius: 5px;
    height: 250px;
    width: 500px;
}

#catpic {
    height: 250px;
    width: 500px;
    object-position: 100% ;
    
}

/* Second Div */

.second {
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding-bottom: 40px;
}

#second-title {
    text-align: center;
    padding: 46px;
    padding-top: 60px;
}
h3 {
    font-size: 150%;
}

/* Cat Card Sections */

#cat-sections {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 28px;
    padding-bottom: 68px;
    padding-top: 12px;
}

.card {
    padding: 18px;
}

.card p {
    padding: 12px;
    width: 150px;
}

.cat-pictures {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    border-radius: 5px;
}

/* Third Div */ 

.third {
    background-color:rgb(255, 243, 133);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote {
    width: 1000px;
    padding: 10px;
}

#quote h4 {
    text-align: right;
    padding-top: 18px;
    font-size: 140%;
}

#quote p {
    font-size: 180%;
    font-style: italic;
}

/* Fourth Div  */

.fourth {
    background-color: rgb(231, 231, 231);
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    display: flex;
    background-color:rgb(255, 243, 133);
    border-radius: 8px;
    width: 1000px;
    padding: 15px;
    justify-content: space-between;
}

#box h5 {
    font-size: 16px;
    padding-bottom: 4px;
}

#info-button button {
    padding: 6px;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 243, 133);
    border-radius: 12px;
}

#info-button {
    margin-right: 40px;
    align-self: center;
    justify-content: center;
}

/* Footer Section */

.footer {
    background-color: rgb(83, 83, 83);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 28px;
    height: 12px;
    display: flex;
    color:rgb(252, 247, 204);
    font-size: 120%;
}

h6 {
    color:rgb(252, 247, 204);
    font-size: 120%;
}